<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>184868834231-fmbaq3bj9v6jq6pqudipag8ceg8e6ibt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184868834231-fmbaq3bj9v6jq6pqudipag8ceg8e6ibt</string>
	<key>API_KEY</key>
	<string>AIzaSyBlYPrkAoLyb42wy6bGcgYGwvEFq2Nca68</string>
	<key>GCM_SENDER_ID</key>
	<string>184868834231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brandon-Hostetter.FirebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>ioschatapp-8c4b7</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschatapp-8c4b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184868834231:ios:1f0f1ae433621e54</string>
	<key>DATABASE_URL</key>
	<string>https://ioschatapp-8c4b7.firebaseio.com</string>
</dict>
</plist>